html {
    font-family: 'Julius Sans One', sans-serif;

}


.border-box {
    border-bottom: 2px solid #007bff;
}

body {



    border: 1px solid grey;

}

img {
    border: 1px solid #007bff;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
}
